body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

img{
    width: 300px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.header .logo, ul{
    margin-bottom: 40px;
}
.header{
    display: flex;
    justify-content: center;
    padding: 20px 50px;
    gap: 30px;
    color: wheat;
    background-color: #010160;
}

.header .section1{
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.welcome{
    font-weight: bold;
    font-size: 26px;
}